.a{
    font-family: "Inconsolata", monospace;
    color: white;
    font-weight: 100;

}

#welcomeS {
    display: none;
    visibility: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 100; 
    font-style: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 200px;
}
@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }

    to {
        border-color: transparent;
    }
}
.pixelart{
    position: absolute;
    top: 300px;
    left: 1500px;
    height: 400px;
    animation-duration: 400ms;
    animation-name: slide;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

.i{
        font-family: "Inconsolata", monospace;
        color: white;
        font-weight: 100;
        margin-top: 0px;
        margin-bottom: 0px;
    
    
}

.shell{
    font-family: "Inconsolata", monospace;
    color: white;
    display: inline-block;
    font-weight: 100;
   
}

#shellLine{
    font-family: "Inconsolata", monospace;
    background-color: black;
    font-weight: 100;
    border: 0px;
    color: white;
    font-size: 25px;
    position: absolute;
    top: 132px;

}
#shellLine:focus{
    font-family: "Inconsolata", monospace;
    background-color: black;
    font-weight: 100;
    border: 0px;
    font-size: 25px;
    outline: none;
    border-color: white;
}

#shinfo{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    margin-top: 0px;
    display: none;
    white-space: nowrap;
    overflow: hidden;
    border: 0px;
    animation: blink 800ms steps(13) infinite normal;
    border-right: 5px solid black;
}
#shinfo2{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    margin-top: 0px;
    display: none;
    white-space: nowrap;
    overflow: hidden;
    border: 0px;
    border-right: 5px solid black;
}


.wrapper{
    background-color: black;
    animation-delay: 30s;
    animation-duration: 500ms;

}

#boot{
    width: 1980px;
    height: 1080;
    background-color: black;
}

#intro{
    width: 1000px;
    visibility: hidden;
    display: none;
}
.t1{
    font-family: "Inconsolata", monospace;
    color: white;
    display: inline-block;
    font-weight: 100;
    padding-top: 90px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    padding-left: 140px;
    margin-bottom: 8px;
    
}
.t2{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;  
    font-weight: 100;
    color: white;
    margin-top: 5px;
    padding-left: 140px;
    font-size: 45px;
    margin-bottom: 8px;
}
.p1{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
}
.p2{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink {
    display: inline;
    animation: blink 1s step-start infinite;
    color: white; 
    position: absolute;
    top: 235px;
    right: 932px;
}
.myimg{
    position:absolute;
    right: 100px;
    top: 90px;
    border-radius: 90px;
}

#welcome-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    justify-content: center;
    font-weight: 100;
    padding-left: 620px;
    padding-top: 270px;
    display: flex;
    align-items: center;
    color: white;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    opacity: 0;
    animation: fadeInOut 3s infinite;
    display: none;
}
#welcome-text2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    justify-content: center;
    font-weight: 100;
    padding-left: 580px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;

    padding-top: 270px;
    display: flex;
    align-items: center;
    color: white;
    opacity: 0;
    animation: fadeInOut 3s infinite;
    display: none;
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
#projects{
    transition-duration: 500ms;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
    position: absolute;
    left: -130px;
    top: 260px;
}
#contact{
    transition-duration: 500ms;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
    position: absolute;
    left: -130px;
    top: 280px;
}
#blog{
    transition-duration: 500ms;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
    position: absolute;
    left: -130px;
    top: 300px;
}
#home{
    transition-duration: 500ms;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
    position: absolute;
    left: -130px;
    top: 240px;
}

#awards{
    transition-duration: 500ms;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
    position: absolute;
    left: -130px;
    top: 320px;
}


#projects:hover{
    cursor: pointer;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: grey;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
    position: absolute;
    left: -120px;
    top: 260px;
}
#contact:hover{
    cursor: pointer;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: grey;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
    position: absolute;
    left: -120px;
    top: 280px;
}
#blog:hover{
    cursor: pointer;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: grey;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
    position: absolute;
    left: -120px;
    top: 300px;
}
#home:hover{
    cursor: pointer;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: grey;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
    position: absolute;
    left: -120px;
    top: 240px;
}

#awards:hover{
    cursor: pointer;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: grey;
    font-size: 20px;
    font-weight: 100;
    padding-left: 140px;
    margin-top: 4px;
    position: absolute;
    left: -120px;
    top: 320px;
}

#projects-tab{
    display: none;
    float: left;
}
#projectsh1{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    font-weight: 100;
    margin-left: 200px;
    margin-top: 80px;
    color: white;
}
#khronos{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    font-weight: 100;
    margin-left: 200px;
    margin-top: 5px;
    color: white;
    margin-bottom: 5px;
}
#descK{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-left: 200px;
    color: white;
    margin-top: 0px;
    
}
#prvict{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    font-weight: 100;
    margin-left: 200px;
    margin-top: 40px;
    color: white;
    margin-bottom: 5px;
}
#descP{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-left: 200px;
    color: white;
    margin-top: 0px;

    
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
    }
    
  }

#contact-tab{
    font-family: "Inconsolata", monospace;
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    background: black;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    float: left;
    border-radius: 10px;
    display: none;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    animation: slideIn 500ms ease forwards;
}
#contact-tab h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

#contact-tab p {
    font-size: 1.2rem;
    margin: 5px 0;
    text-align: center;
    color: white;
}

#contact-tab p span {
    font-weight: bold;
    color: white;
}
@keyframes slideIn {
    to {
        left: 37%;
        top: 43%;
    }
}
#DeMo{
    float: right;
    margin-top: 0px;
}

#blog-tab{
    display: none;

}
#blogH1{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 100;
    margin-left: 200px;
    color: white;

}
#blogT{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 100;
    margin-left: 200px;
    color: white;

}
#bllog{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 100;
    margin-left: 200px;
    float: left;
    color: white;

}

#awards-tab{
    display: none;
}
#awards-tab h1{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 100;
    margin-left: 200px;
}

#awards-tab p{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 100;
    margin-left: 200px;
    float: left;
    color: white;
}
#list{
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 100;
    margin-left: 200px;
    float: left;
    color: white;
}